.avatar-container{
    background-color: #3880ff
}

.contact-avatar{
    width: 100px;
    height: auto;
    margin: auto;
    padding: 20px 0px;
}

.title-name{
    padding: 10px 15px;
}

.button-edit-contact{
    position: fixed;
    font-size: 12px;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.button-delete-contact{
    float: left !important;
    left: 0px !important;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    margin: 10px;
}

